.RatingsList {
    background-color: rgb(253, 237, 206);
    text-align: left;
    /* width: 600px; */
}

.Rating {
    margin-top: 5px;
    margin-left: inherit;
    width: inherit;
    font-size: large;
    background-color: white;
}

.RatingForm {
    border-top-color: rgb(253, 237, 206);
    border-top-width: 5px;
    border-top-style: solid;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 5px;
    width: inherit;
    font-size: large;
    background-color: white;
}

.Par {
    font-size: medium;
    font-style: italic;
}

.ButtonText {
    color: rgb(250, 249, 249);
    font-weight: bold;
}